table {
 width: 20%;
 background: rgb(138, 96, 96);
 color: rgb(0, 0, 0);
 border-spacing: 1px;
 border: 1px solid black;
 margin: auto;
}
td, th {
 background: rgb(255, 255, 255);
 padding: 5px;
}

.step {
    text-align: center;
}

.can

.next-but {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    position: relative;
    border: 1px solid white;
    padding: 0 1rem;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 0px;
    border-bottom: 4px solid white;
    padding: 15px 20px;
}

button {
    width: 5%;
    height: 50px;
    border-radius: 20px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-family: 'Orbitron', serif;
    background: #ffffff;
    border-spacing: 1px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    /* text-align: center;
    position:absolute; */
}